@import "tailwindcss";

@source "../../authApp/src";
@source "../../superFitness/src";
@source "../../../packages/ui/src";
@source "../../authApp/src/app/features/auth/ui/components/auth-layout";

html,
body {
  margin: 0;
  min-height: 100%;
  background: #05060a;
}
